body {
  background-color: white;
  transition: background-color 1s ease;
}

.controllMenu{
  background-color: lightgray;
  float:right;
  position: relative;
  width: 10%;
  border: 1px solid;
  box-sizing: border-box;
  margin-top: -550px;
  margin-right: 200px;
  margin-left: 300px;
}

.cm{
  margin-top: 5px;
  position: relative;
  text-align: center;
}

.board{
  width:50%;
}

table{
  border-collapse: collapse;
  border: black 1px;
  margin: 0 auto;
  box-sizing: border-box;
  border-spacing: 0;
}


tbody{
  color: black;
  text-align: center;
}

td{
  background: lightyellow;
  width: 5vw;
  max-width: 5vw;
  height: 5vw;
  max-height: 5vw;
  line-height: 5vw;
  font-size: 3vw;
}

td:hover {
  background-color: lightcoral;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
  background: lightgray;
}

tr:nth-child(odd) td:nth-child(even):hover, tr:nth-child(even) td:nth-child(odd):hover {
  background: blanchedalmond;
}

label {
  display: inline-block;
  width: 60px;
  margin-top: 5px;
  align-items: center;
  margin-left: 10px;
}

input[type="text"] {
  display: inline-block;
  width: 30px;
}

input[type="submit"] {
  margin-left: 40%;
  margin-top: 5px;
}

textarea{
  align-items: center;
  vertical-align: middle;
}






