table{
    border-collapse: collapse;
    border: black 1px;
    margin: 0 auto;
  }
  
  
  tbody{
    color: black;
    text-align: center;
  }
  
  td{
    background: lightyellow;
    width: 5vw;
    max-width: 5vw;
    height: 5vw;
    max-height: 5vw;
    line-height: 5vw;
    font-size: 3vw;
  }
  
  td:hover {
    background-color: blanchedalmond;
  }
  
  tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
    background: lightgray;
  }
  
  tr:nth-child(odd) td:nth-child(even):hover, tr:nth-child(even) td:nth-child(odd):hover {
    background: blanchedalmond;
  }

  input[type=text] {
    border: none;
    border-bottom: 2px solid red;
  }
